.form {
  width: 100%;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__input,
  &__button {
    margin-top: 20px !important;

    &:first-child {
      margin-top: 0 !important;
    }
  }

  &__input {
    &__invalid {
      border-color: red !important;
    }

    &:focus {
      box-shadow: none !important;
    }
  }
}
